*,
*::before,
*::after {
  box-sizing: border-box;
  /*Не забыть удалить бордер */
  border: red;
  border-style: dashed;
  border-width: 1px;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  padding: 133px 30px;
}

.result__video-container {
  margin-bottom: 16px;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: 100%;
  font-size: 18px;
  margin-bottom: 5px;
}

.content__details {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: grid;
  flex-direction: column;
  max-height: 298px;
  overflow: hidden scroll;
  gap: 30px;
}

.content__list {
  display: grid;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-title {
  width: 196px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content__video-card-description {
  width: 196px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}
